body {
  margin:0;
  height:100vh;
}
#unityContainer {
  background: #eee;
  margin: auto !important;
  height: 100% !important;
  max-width:100% !important;
}
.disclaimer-text {
 max-width:400px;
  margin: auto;
  text-align:center;
}
